!!!5
html
  head
    title #{title} - Videor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        h1.top Videor
    .container
      .sidebar
        block sidebar
      .main-content
        block content
    footer
      p Hacked it together on hacknight